<div class="py-5 bg-gray-775">
  <div class="container text-center">
    <p class="m-0 text-white">
      &copy; {{ site.time | date: '%Y' }}
      {{ site.title }}
      {{ '-' }}
      {{ site.motto }}
    </p>
  </div>
</div>
