<nav class="bg-gray-750">
  <ul class="container flex flex-wrap text-white justify-evenly md:justify-start">
    {% assign menuPages = site.pages %}

    {% for collection in site.collections %}
      {% if collection.label == 'posts' %}
        {% continue %}
      {% endif %}

      {% assign path = collection.label | prepend: '_' | append: '/index.md' %}
      {% assign collectionPage = collection.docs | where: 'path', path | first %}

      {% assign menuPages = menuPages | push: collectionPage %}
    {% endfor %}

    {% assign menuPages = menuPages | sort: 'order' %}

    {% for menuPage in menuPages %}
      {% unless menuPage.hideInNav %}
        {% assign url = menuPage.url | relative_url %}
        {% assign title = menuPage.title %}

        {% assign classes = 'duration-75 hover:bg-red-500' %}

        {% assign currentPath = page.path | remove: 'index.md' %}
        {% assign documentPath = menuPage.path | remove: 'index.md' %}

        {% if menuPage.path == page.path or (currentPath contains documentPath and page.collection) %}
          {% assign classes = classes | append: ' bg-red-500' %}
        {% endif %}

        <li class="{{ classes }}">
          <a class="block p-5 text-2xs uppercase" href="{{ url | remove: 'index.html'}}">
            {{ title }}
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</nav>
