---
layout: default
---
<section class="container flex flex-col gap-12 pt-16 pb-24">
  {% if page.subtitle %}
    <div class="text-center lg:w-4/5 mx-auto">
      {% include subtitle.liquid %}
    </div>
  {% endif %}

  <div class="content lg:w-4/5 mx-auto">{{ content }}</div>

  {% if layout.include %}
    {% include {{ layout.include }} %}
  {% endif %}
</section>
